<section>
  <form action="/" method="post">
   <textarea id="regularInput" name="content" placeholder='Add a title and the word "book" or "movie"&hellip;'></textarea>
     <button type="submit">ADD</button>
  </form>
</section>
