		<div class="one-third column">
			<h3>About Muxnote</h3>
			<p>Muxnote is a tiny, speedy web application that lets you post the name of books you want to read and movies you want to see. It integrates with <a href="http://twitter.com/muxnote">twitter</a> to speed up signup and authenticaion. You can try it by <a href="/signin">signing up or logging into Twitter.</a></p>
                        <h3>Docs &amp; Support</h3>
                                                <p>Muxnote is open-source - the source-code can be cloned or forked from <a href="https://github.com/jgbarr/muxnote">github</a>. If you want to report bugs or have questions, concerns or feedback, please post them on the github project. Thank you for trying muxnote!</p>
		</div>
		<div class="one-third column">
        <center><img src="images/smallphone.png" width="181" height="349"></center></div>
		<div class="one-third column">
	</div>
